@charset "EUC-KR";
#footer_container{
		width:1200px;
		margin:0 auto;
	}
	#footer_support{		
		border-top:1px solid black;
		border-bottom:1px solid black;
		padding : 20px 0px; 
	}
	
	#footer_support ul {
		display : inline;
		}	
	#footer_support ul li{
		text-decoration: none;
		list-style-type: none;
	}
	#footer_support h2, #footer_support h3{
		margin-top : 0px;
		margin-left : 0px;
		margin-bottom : 10px;
	}
	#footer_copyright ul{
		display: inline-block;
		padding:0px;
	}
	#footer_copyright ul li{
		font-size : 12px;
		color : gray;
		margin-bottom: 5px;
		list-style-type: none;
	}
	