@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  min-width: 1500px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #1c7ed6;
}

button {
  cursor: pointer;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.tal {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.header_inner {
  position: relative;
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}

header {
  height: 110px;
  background-color: #fff;
}

header .header_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top_logo {
  margin-left: 20px;
}

.gnb_menu {
  display: none;
}

.gnb {
  display: flex;
  width: 100%;
  margin: 35px 20px 0 90px;
  font-size: 19px;
  justify-content: space-between;
  z-index: 100;
}

.gnb li a {
  color: #000;
}

.gnb li a:hover {
  color: #e47820;
}

.top_nav {
  position: absolute;
  display: flex;
  right: 20px;
  top: 0;
  width: 380px;
  height: 30px;
  font-size: 13px;
  justify-content: space-between;
  align-items: flex-end;
}

.top_nav a {
  color: #868e96;
}

.top_nav a:hover {
  color: #e47820;
}

/* color */
.point_c_01 {
  color: #e47820;
}

.point_c_02 {
  color: #ff6b6b;
}

.point_c_gray {
  color: #dee2e6;
}

hr {
  height: 0;
  border: 1px solid #eaeaea;
  border-top: none;
}

/* bullets */
.blt_01 {
  margin-bottom: 15px;
  padding-left: 27px;
  background: url(../images/common/bul_chk_01.png) no-repeat left center;
  color: #212529;
  font-size: 17px;
}

/* table */
.table_default {
  width: 100%;
  border-top: 1px solid #495057;
  color: #495057;
  line-height: 1.3;
}
.table_default th {
  height: 40px;
  padding: 12px 15px;
  background-color: #f8f9fa;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}
.table_default td {
  padding: 12px 15px;
  text-align: center;
  min-height: 40px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
}
.table_default td.rowspan {
  border-right: 1px solid #dee2e6 !important;
}
.table_default td:first-child {
  border-left: 0;
}
.table_default td:last-child {
  border-right: 0;
}

.table_res {
	border:1px solid #dee2e6;
	width: 700px;
    margin: 0 auto
}
.table_res dl {
  display: flex;
  border-spacing: 0;
  width: 100%;
}
.table_res dt {
  display: flex;
  align-items: center;
  flex: 0 0 220px;
  padding: 20px 20px;
  text-align: left;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.table_res dd {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 8px;
  line-height: 1.75;
  border-bottom: 1px solid #dee2e6;
  margin-left: 0;
}
.table_res .flex-row{
  flex-direction: row;
}

/* process */
.process-top-text {
  margin: 43px 56px 0 43px;
  padding-bottom: 14px;
  border-bottom: 1px solid #f08c00;
  color: #7c6d5d;
}

.process-top-text .now {
  margin-right: 14px;
  padding-left: 28px;
  color: #f08c00;
  background: url(../images/main/ico_process_spk.png) no-repeat left center;
}

.process-top-text strong {
  display: inline-block;
  margin-left: 5px;
  padding: 5px 15px;
  background-color: #555;
  color: #f8f8f8;
}

.process-order {
  display: flex;
  margin: 25px 25px 0;
  justify-content: space-between;
}

.process-order li {
  position: relative;
  width: 13.28%;
  height: 138px;
  padding: 12px 5px 0;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.process-order li:after {
  content: "";
  position: absolute;
  display: block;
  right: -15px;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(../images/main/ico_process_arrow.png) no-repeat center;
  z-index: 10;
}

.process-order li:last-child:after {
  display: none;
}

.process-order li .ico {
  display: inline-block;
  width: 100%;
  height: 62px;
  background-position: center;
  background-repeat: no-repeat;
}

.process-order .title {
  display: block;
  padding: 4px 0;
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  background: linear-gradient(0deg, rgb(250, 121, 5) 0%, rgb(250, 176, 5) 100%);
}

.process-order li p {
  padding-top: 6px;
  color: #adb5bd;
  font-size: 13px;
}

.process-order li .ico.type01 {
  background-image: url(../images/main/ico_process_01.png);
}

.process-order li .ico.type02 {
  background-image: url(../images/main/ico_process_02.png);
}

.process-order li .ico.type03 {
  background-image: url(../images/main/ico_process_03.png);
}

.process-order li .ico.type04 {
  background-image: url(../images/main/ico_process_04.png);
}

.process-order li .ico.type05 {
  background-image: url(../images/main/ico_process_05.png);
}

.process-order li .ico.type06 {
  background-image: url(../images/main/ico_process_06.png);
}

.process-order li .ico.type07 {
  background-image: url(../images/main/ico_process_07.png);
}

/* button */
.btn_set {display: flex;justify-content: center; margin-bottom:30px;}
.btn_set button:first-child{margin-right: 25px;}
.btn{display: flex;padding: 0;font-size: 16px;}
.btn.type1 {width:140px;height: 50px;justify-content: center;align-items: center;}
.btn.type1.cancel {border:1px solid #fd9f27;color:#fff;background: rgb(0, 0, 0);}
.btn.type1.ok {background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);color:#fff;border: 0;} 
.btn.type2 {display: inline-block;width:110px;height:40px;border: 0;background: #495057;color:#fff;font-size: 16px;font-weight: 500}

/* input,select */
input[type=text] {max-width:282px;height:40px;border:1px solid #ced4da;padding-left: 14px;font-size: 16px;color:#495057;}
input[type=radio],input[type=checkbox] {width:20px;height: 20px;cursor: pointer}
select {height:40px;padding: 0 10px;font-size: 16px;border:1px solid #ced4da;color:#2b2b2b;}

footer .link {
  border-top: 1px solid #dee2e6;
}

footer .link .inner {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
}

footer .link .family {
  display: flex;
  align-items: center;
}

footer .link .family > span {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  color: #495057;
  font-size: 14px;
}

footer .link .family > span:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 10px;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 6px solid #000;
}

footer .address {
  height: 162px;
  padding-top: 40px;
  border-top: 1px solid #dee2e6;
}

footer .address .inner {
  height: 100%;
}

footer .address ul {
  color: #868e96;
}

footer .address ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

footer .address .logo_copy {
  position: absolute;
  right: 0;
  bottom: 38px;
  text-align: right;
  color: #adb5bd;
}

footer .address .logo_copy p {
  margin-top: 30px;
  font-size: 14px;
}

footer .inside a {
  display: inline-block;
  padding-left: 10px;
  margin-left: 4px;
  font-size: 14px;
  color: #495057;
  border-left: 1px solid #ced4da;
}

footer .inside a:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 480px) and (max-width: 1023px) {
  body {
    min-width: auto;
  }

  .inner {
    width: auto;
  }

  .gnb {
    margin: 0;
    padding: 20px;
  }

  .gnb li a {
    font-size: 0.9rem;
  }

  .top_logo {
    display: inline-block;
    width: 200px;
    margin-top: 20px;
  }

  .top_nav {
    top: 10px;
    width: 280px;
  }

  .top_logo img {
    width: 100%;
  }

  .header_inner {
    width: auto;
  }

  header .header_inner {
    display: block;
    width: 100%;
  }

  .main-banner {
    height: 440px;
  }

  .main-banner-text {
    width: 300px;
    margin: 30px 0 0 30px;
    margin-top: 30px;
  }

  .main-banner-text img {
    width: 100%;
  }

  .process-top-text {
    font-size: 14px;
    margin: 0 10px;
    padding-top: 15px;
  }

  .process-top-text strong {
    font-size: 13px;
  }

  .process-order li p {
    font-size: 12px;
  }

  .main-banner {
    height: auto;
  }

  .main-banner-text {
    width: 300px;
    margin: 30px 0 0 30px;
    margin-top: 30px;
  }

  .main-banner-text img {
    width: 100%;
  }

  footer .inside a {
    font-size: 12px;
  }

  footer .link {
    padding-left: 15px;
  }

  footer .link .family > span {
    padding-right: 20px;
    font-size: 12px;
  }

  footer .link .family img {
    width: 90%;
  }

  footer .address {
    padding-top: 20px;
    padding-left: 15px;
  }

  footer .address ul li {
    font-size: 12px;
    text-align: center;
  }

  footer .address .logo_copy {
    position: relative;
    bottom: auto;
    margin-top: 40px;
    text-align: center;
  }

  footer .address .logo_copy img {
    width: 200px;
  }

  footer .address .logo_copy p {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  body {
    min-width: auto;
  }

  .inner {
    width: auto;
  }

  .top_nav {
    position: relative;
    width: 80%;
    height: auto;
    right: auto;
    margin: 10px auto;
    justify-content: space-evenly;
  }

  header {
    height: auto;
  }

  .header_inner {
    width: auto;
  }

  header .header_inner {
    display: block;
  }

  .top_logo {
    display: block;
    width: 200px;
    margin: 20px auto;
  }

  .top_logo img {
    width: 100%;
  }

  .gnb_menu {
    position: absolute;
    left: 10px;
    bottom: 0px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 0;
    background: url(../images/common/ico_hamburger.png) no-repeat center;
    background-size: cover;
    opacity: 0.5;
  }

  .gnb {
    display: none;
    margin: 0;
    position: absolute;
    left: 0;
    top: 88px;
    background: #fff;
    padding: 20px;
    z-index: 100;
    border-top: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  }

  .gnb li {
    margin: 15px 0;
  }

  .grid-set .grid {
    padding-right: 22px;
  }

  .blt_01 {
    padding-left: 17px;
    font-size: 14px;
    background-size: 14px auto;
  }
  
  /* 반응형 table */
  .table_res {border-width:1px 0 0;}
  .table_res dl {
    flex-wrap: wrap;
    font-size: 14px;
  }
  .table_res dl dt {
    flex: 100%;
    line-height: 26px;
    padding: 15px 0 15px 10px;
    border-right: 0;
  }
  .table_res dl dd {
    flex: 100%;
    padding: 15px 10px;
  }
  .table_res dl.horz{
    flex-direction: column;
  }
  .table_res dl.horz dt{
    border-bottom: 0;
    justify-content: center;
  }
  .table_res dl.horz dd{
      padding:0 8px;
  }

  footer .link .inner {
    display: block;
    height: auto;
    text-align: center;
    padding: 10px 0 10px;
  }

  footer .link .family {
    display: block;
    margin-top: 20px;
  }

  footer .link .family > span {
    display: block;
    width: 110px;
    margin: 10px auto;
  }

  footer .address {
    height: auto;
    padding: 20px 0;
  }

  footer .address .inner {
    padding: 10px;
    text-align: center;
    line-height: 1.3;
  }

  footer .address .logo_copy {
    position: relative;
    display: block;
    bottom: auto;
    right: auto;
    text-align: center;
    margin-top: 20px;
  }
  footer .address .logo_copy p {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=global.css.map */
