@charset "UTF-8";
	#header_container{
		height : auto;
		margin : 0 auto;
		text-align: center;
	}
	#header_menu_bar {
		width:1200px;
		border-top : 1px solid black;
		height:auto;
		margin : 0 auto;
		text-align: center;
	}
	#header_non_login{
		width:1200px;
		list-style-type: none;
		border-bottom:1px solid black;
		height: auto;
		display: inline-block;
	}
	#header_menu_bar li, #header_non_login li{
		display: inline-block;
	}
	#header_menu_bar ul{
		margin : 0 auto;
		padding : 20px 20px 20px 20px;
	}
	#header_non_login ul{
		padding-left:1050px;
		display: inline-block;
	}
	#header_menu_bar ul li{
		vertical-align: middle;
	}
	#header_non_login a:link,#header_non_login a:visited {
		color:black;
		text-decoration: none;
		font-size: 15px;
		text-align: center;
		padding: 0px 5px;
	}
	#header_menu_bar a:link, #header_menu_bar a:visited{
		color:black;
		font-weight:bold;
		text-decoration: none;
		font-size: 19px;
		text-align: center;
		margin : 0px 20px;
	}
	#header_main{
	width:1200px;
	margin:0 auto;
	padding : 50px 0px;
	}
	#header_main table td{
		width: 33%; 
		box-sizing: border-box;
	}
	#header_main input{
		height : 28px;
		position: relative;
		bottom:11.5px;
	}
	#header_nav_menu_bar{
		border-radius: 10px;
		background-color: orange;		
		padding : 20px 0px;
		padding-right : 50px;
		position: absolute;
		top : 33%;
		left: 28%;
	}
	#header_nav_menu_bar td{
	color : white;
	padding-left : 20px;
	text-align: left;
	}
	#header_nav_menu_bar td:not(#top){		
	padding-top:10px;
	width:130px;	
	}
	#header_nav_menu_bar #top{	
	font-weight:bold;
	padding-top:10px;
	width:100px;
	vertical-align:top;
	}
	
	#header_nav_menu_bar a:link,#header_nav_menu_bar a:visited {
		color:white;
		text-decoration: none;
	}
	