@charset "EUC-KR";
#main_container{
	width:1200px;
	margin:0px auto;
	text-align: center;
}
.main_product{
	width:1200px;
    margin: 100px auto;
    font-size: 12px;
}
td{
	width:1200px;
    border-collapse: collapse;
    border-spacing: 40px 0px;
}
.product{
	width:1200px;
    padding-right: 22px; 
}