<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogangdo.mapper.ProductMapper">

	<select id="selectProductList" resultType="product" parameterType="int">
		select * from (select ceil(rownum / 20) as pageNo, pv.*
			from productlist_view pv)
			where pageNo = #{pageNo} and category_no = #{category_no}
	</select>
	<select id="selectProductSubList" resultType="product" parameterType="Map">
		select * from (select ceil(rownum / 20) as pageNo, pv.*
			from productlist_view pv)
			where pageNo = #{pageNo} and sub_category_no = #{sub_category_no}
	</select>
	
	<select id="selectProductLowPrice" resultType="product" parameterType="int">
		select * from (select ceil(rownum / 20) as pageNo, pv.*
			from productlist_view pv)
			where pageNo = #{pageNo} order by product_price
	</select>
	<select id="selectProductHighPrice" resultType="product" parameterType="int">
		select * from (select ceil(rownum / 20) as pageNo, pv.*
			from productlist_view pv)
			where pageNo = #{pageNo} order by product_price desc
	</select>
	
	<select id="selectProductCount" resultType="int">
		select count(*) from shop_product 
	</select>
	<select id="selectProductImageNo" parameterType="int" resultType="int">
		select img_no from shop_img where product_no = ${product_no} and thumbnail = 1
	</select>
	<select id="selectProductName" parameterType="int" resultType="String">
		select product_name from shop_product where product_no = #{product_no}
	</select>
	
	
	
	<!-- JYM -->
	<select id="selectProductNo" resultType="int">
		select productno_seq.nextval from dual
	</select>
	<insert id="registerProduct" parameterType="product">
		insert into shop_product 
		values(#{product_no},#{category_no},#{product_name},#{product_price},#{product_stock},0,#{product_desc},#{sub_category_no})	
	</insert>
	<select id="selectImageFile" parameterType = "int" resultType="file">
		select * from shop_img where img_no = #{fno}
	</select>
	<select id="selectImageNo" resultType="int">
		select imageno_seq.nextval from dual
	</select>
	<select id="selectproductDTO" resultType="product" parameterType="int">
		select * from product_view where product_no = #{product_no}
	</select>
	<insert id="insertthumbnail" parameterType="file">
		insert into shop_img
		values(#{img_no},#{img_path},1,#{product_no})
	</insert>
	<insert id="insertproduct_img" parameterType="file">
		insert into shop_img
		values(#{img_no},#{img_path},0,#{product_no})
	</insert>
	<select id="selectThumbnailDTO" parameterType="int" resultType="file">
		select * from shop_img where product_no = #{product_no} and thumbnail = 1
	</select>
	<select id="selectimageDTO" parameterType="int" resultType="file">
		select * from shop_img where product_no = #{product_no} and thumbnail = 0
	</select>
	<select id="selectReviewList" resultType="review" parameterType="map">
		select * from (select ceil(rownum / 5) as pageNo, rv.*
		from review_view rv where product_no = #{product_no})
        where pageno=#{pageNo}
	</select>
	<select id="selectQnAList" resultType="qna" parameterType="map">
		select * from (select ceil(rownum / 5) as pageNo, qv.*
		from qna_view qv where product_no = #{product_no})
        where pageno=#{pageNo}
	</select>
	<select id="selectReviewCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM REVIEW_VIEW WHERE PRODUCT_NO=#{pno} 
	</select>
	<select id="selectQnACount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM qna_VIEW WHERE PRODUCT_NO=#{pno} 
	</select>
	<select id="selectQnaNo" resultType="int">
		select qna_no_seq.nextval from dual
	</select>
	<insert id="insertQnA" parameterType="qna">
		insert into shop_qna values(#{qna_no},#{id},#{qna_content},sysdate,#{product_no},null,null,0)	
	</insert>
	<select id="selectQnaAllList" resultType="qna" parameterType="map">
		select * from (select ceil(rownum / 5) as pageNo, qv.*
		from qna_view qv where  answer_check = #{answer_check})
        where pageNo=#{pageNo}
	</select>
	<select id="selectQnaAllCount" resultType="int">
		SELECT COUNT(*) FROM qna_VIEW where answer_check = #{answer_check}
	</select>
	<update id="insertQnaAnswser" parameterType="qna">
		update shop_qna set answer_content = #{answer_content}, answer_date = sysdate, answer_check = 1 where qna_no = #{qna_no} 
	</update>
	<select id="productSearchList" resultType="product" parameterType="map">
		select * from (select ceil(rownum / 20) as pageNo, pv.*
			from productlist_view pv)
			where pageNo = #{pageNo} and product_name like '%'||#{search}||'%'
	</select>
	<select id="selectProductDetail" resultType="product" parameterType="map">
		select * from shop_product where ${type} like '%' || #{search} || '%'
	</select>
</mapper>